body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: #f182d3;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
